## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
Variable = 2
print(Variable)

2

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
a = 8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(Variable))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
mi_nombre = "Joaquin"

5) Crear una variable que contenga un número complejo

In [7]:
n_complejo = 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(n_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
e = "true"
f = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [12]:
print(type(e))
print(type(f))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
u = (4 + 5.6)

11) Realizar una operación de suma de números complejos

In [15]:
2j + 4j

6j

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
2 + 2j

(2+2j)

13) Realizar una operación de multiplicación

In [17]:
2 * 4

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2 ** 8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
o = 27 / 4
print(o)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [29]:
27 % 4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
4**6 % 3

1

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
"jds" + "rtt"

'jdsrtt'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [41]:
a = float("3,8")
#Arroja error por que Python toma como flotante a los numero que tengan .(punto)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [47]:
l = 3
l -= 1

print(l)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [48]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [49]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [50]:
entero = 5
cadena = "El número es: "

concatenacion = cadena + str(entero)

print(concatenacion)

El número es: 5